<div class="row g-3">
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <img src="../../assets/img/icons/juros-simples.png" class="img-fluid" alt="Juros Simples">
        <h5 class="card-title">Juros Simples</h5>
        <p class="card-text">Faça calculos de juros simples</p>
        <a routerLink="juros-simples" class="btn btn-primary">Juros Simples</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <img src="../../assets/img/icons/juros-compostos.png" class="img-fluid" alt="Juros Compostos">
        <h5 class="card-title">Juros Compostos</h5>
        <p class="card-text">Faça calculos de juros compostos</p>
        <a routerLink="juros-compostos" class="btn btn-primary">Juros Compostos</a>
      </div>
    </div>
  </div>
</div>